body {
    background-color:gray;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

h1 {
    font-size: 60px;
    font-family: 'Play', sans-serif;
}

.highlight {
    background-color: gold;
    font-size: 30px;
}

.bord-color {
    border-color: blueviolet !important;
    color: blueviolet !important;
}

.titleBar {
    background-color: blueviolet !important;
    color: white;
    /* font-family: 'PT Sans Caption', sans-serif;  */
}

.ans1, .ans2, .ans3, .ans4 {
    cursor:pointer;
}