body {
    background-color:powderblue;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

h1 {
    font-size: 60px;
}

.highlight {
    background-color: gold;
    font-size: 30px;
}

.titleBar {
    background-color: blueviolet !important;
    color: white;
}

.ans1, .ans2, .ans3, .ans4 {
    cursor:pointer;
}